<div class="card" *ngIf="resolved">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title">{{result.title}}</h4>
        <div class="container-fluid text-center">
            <img *ngIf="isImage()" [src]="result.url" style="width: 100%" [alt]="result.title">
            <youtube-player *ngIf="isVideo()" [videoId]="youtubeParser(result.url)" [playerVars]="playerVars">
            </youtube-player>
        </div>
        <p class="card-text">{{result.explanation}}</p>
    </div>
    <h4 class="card-footer">{{result.date}}</h4>
</div>

