<h2>{{display}}</h2>
<table>
    <tbody>
        <tr>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(7)">7</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(8)">8</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(9)">9</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleSymbol('/')">/</button></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(4)">4</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(5)">5</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(6)">6</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleSymbol('*')">*</button></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(1)">1</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(2)">2</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(3)">3</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleSymbol('-')">-</button></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-primary" (click)="handleSymbol('.')">.</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleNumber(0)">0</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleSymbol('=')">=</button></td>
            <td><button type="button" class="btn btn-primary" (click)="handleSymbol('+')">+</button></td>
        </tr>
    </tbody>
</table>
