<div class="container">
    <div class="container-fluid text-center m-3">
        <ngb-datepicker #dp [(ngModel)]="date" (select)="updateApod()"></ngb-datepicker>
    </div>
    <div class="jumbotron">
        <h1 class="display-3">{{result.title}}</h1>
        <p class="lead">{{result.date}}</p>
        <hr class="my-2">
        <img [src]="result.url" style="width: 100%" [alt]="result.title">
        <p>{{result.explanation}}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" [href]="result.hdurl" role="button">Download</a>
        </p>
    </div>
</div>

<p>{{result | json}}</p>