<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId">
    <li class="nav-item">
        <a [routerLink]="['calculator']" class="nav-link active">Calculator</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['apod']" class="nav-link">Apod</a>
    </li>
    <li class="nav-item">        
        <a [routerLink]="['beers']" class="nav-link">Beers</a>
    </li>
    <li class="nav-item">        
        <a [routerLink]="['countries']" class="nav-link">Countries</a>
    </li>
    <li class="nav-item">        
        <a [routerLink]="['heroes']" class="nav-link">Heroes</a>
    </li>
    <li class="nav-item">        
        <a [routerLink]="['form']" class="nav-link">Form</a>
    </li>
    <li class="nav-item">        
        <a [routerLink]="['reactive']" class="nav-link">Reactive</a>
    </li>
</ul>

<router-outlet></router-outlet>

<!-- Tab panes -->
<!-- <div class="tab-content">
    <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
</div>

<script>
    $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
<ngb-tabset type="tabs">
    <ngb-tab title="Calculator" id="calculator">
        <ng-template ngbTabContent>
            <app-calculator></app-calculator>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Reactive Form">
        <ng-template ngbTabContent>
            <app-reactive-form></app-reactive-form>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Form">
        <ng-template ngbTabContent>
            <app-form></app-form>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Countries">
        <ng-template ngbTabContent>
            <app-countries></app-countries>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Beers">
        <ng-template ngbTabContent>
            <app-beers></app-beers>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Apod">
        <ng-template ngbTabContent>
            <app-apod></app-apod>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Heroes">
        <ng-template ngbTabContent>
            <app-heroes></app-heroes>
        </ng-template>
    </ngb-tab>
</ngb-tabset> -->