<ngb-tabset type="tabs">
    <ngb-tab title="Reactive Form">
        <ng-template ngbTabContent>
            <app-reactive-form></app-reactive-form>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Form">
        <ng-template ngbTabContent>
            <app-form></app-form>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Countries">
        <ng-template ngbTabContent>
            <app-countries></app-countries>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Beers">
        <ng-template ngbTabContent>
            <app-beers></app-beers>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Apod">
        <ng-template ngbTabContent>
            <app-apod></app-apod>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Heroes">
        <ng-template ngbTabContent>
            <app-heroes></app-heroes>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Calculator">
        <ng-template ngbTabContent>
            <app-calculator></app-calculator>
        </ng-template>
    </ngb-tab>
</ngb-tabset>